$spacing--minimum: 0.125rem;
$spacing--xsmall: 0.25rem;
$spacing--small: 0.5rem;
$spacing--smedium: 0.75rem;
$spacing--medium: 1rem;
$spacing--mlarge: 1.5rem;
$spacing--large: 2rem;
$spacing--xlarge: 2.5rem;
$spacing--xxlarge: 3rem;

$layout--small: 1rem;
$layout--smedium: 1.5rem;
$layout--medium: 2rem;
$layout--large: 3rem;
$layout--xlarge: 4rem;
$layout--xxlarge: 6rem;
$layout--xxxlarge: 10rem;

$border-width--small: 1px;
$border-width--medium: 2px;
$border-width--large: 4px;
$border-width--xlarge: 8px;
$border-radius--small: 2px;
$border-radius--medium: 4px;
$border-radius--large: 8px;
$border-radius--xlarge: 12px;
