$body--short: (
  font-size: 0.875rem,
  font-weight: 400,
  line-height: 1.125rem,
  letter-spacing: 0.16px,
);

$body--short--large: (
  font-size: 1rem,
  font-weight: 400,
  line-height: 1.375rem,
  letter-spacing: 0px,
);

$body--long: (
  font-size: 0.875rem,
  font-weight: 400,
  line-height: 1.25rem,
  letter-spacing: 0.16px,
);
$body--long--large: (
  font-size: 1rem,
  font-weight: 400,
  line-height: 1.5rem,
  letter-spacing: 0px,
);

$code--inline: (
  font-size: 0.75rem,
  font-weight: 400,
  line-height: 1rem,
  letter-spacing: 0.32px,
);

$code--block: (
  font-size: 0.875rem,
  font-weight: 400,
  line-height: 1.25rem,
  letter-spacing: 0.32px,
);

$label: (
  font-size: 0.75rem,
  font-weight: 400,
  line-height: 1rem,
  letter-spacing: 0.32px,
);

$head--small: (
  font-size: 0.875rem,
  font-weight: 600,
  line-height: 1.125rem,
  letter-spacing: 0.16px,
);

$head--medium: (
  font-size: 1rem,
  font-weight: 600,
  line-height: 1.375rem,
  letter-spacing: 0px,
);

$head--large: (
  font-size: 1.25rem,
  font-weight: 600,
  line-height: 1.625rem,
  letter-spacing: 0px,
);

$head--large--slim: (
  font-size: 1.25rem,
  font-weight: 400,
  line-height: 1.625rem,
  letter-spacing: 0px,
);

$head--xlarge: (
  font-size: 1.75rem,
  font-weight: 600,
  line-height: 2.25rem,
  letter-spacing: 0px,
);

$head--xlarge--slim: (
  font-size: 1.75rem,
  font-weight: 400,
  line-height: 2.25rem,
  letter-spacing: 0px,
);

@mixin type-style($name) {
  @each $key, $value in $name {
    #{$key}: $value;
  }
}
